
*{ background-color: yellow;
    margin: 0;
}

body{
    font-family: "Inter", sans-serif
}


#slider{
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 1600px;
    margin: auto;
}

.subcontainer{
    width: 85%;
    margin: auto;
    
}

img{
    width: 100%;
    border: 1px solid red;
}

.slide-img{
    width: 90%;
    border-radius: 5px;
    background-position: center;
    background-size: cover;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

/*.slide-img:hover{
    box-shadow: 0 0 0 200px #ff1f8f inset;
    opacity: }; 


.slide-img a{
    opacity: 0;
    text-decoration: none;
    transform: scale(0);
    transition: 0.8s;
    font-size: 1.5rem;
    color: white
}

.slide-img:hover{
    opacity: 1;
    transform: scale(1); */
}

/*.img-1{
    background-image: url();
}

.img-2{
    background-image: url();
}

.img-3{
    background-image: url();
}

.img-4{
    background-image: url();
}

.img-5{
    background-image: url();
} */

@media(max-width: 1600px){
    .container{
        width: 100%;
    }
}

.my-title {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: "Inter", sans-serif;
        background-color: yellow;
        padding-top: 50px;
        padding-left: 50px;
        margin-top: 50px;
    }

h2 {
	font-size: 100px ;  
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    letter-spacing:0.1em;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: white;
    text-shadow: 8px 8px #ff1f8f, 20px 20px #000000
    
}

body {
    overflow: hidden; /* Hide scrollbars */
  }