/*

*{  THIS WAS MY FIRST ATTEMPT AT CREATING A SLIDER
    margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    padding: 0 10px;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #343f4f;

}
.wrapper{
    max-width: 1200px;
}

.wrapper i{
    height: 46px;
    width: 46px;
    text-align: center;
    list-style: none;
    background: #fff;
}
.wrapper .carousel { 
    font-size: 0px;
    cursor: pointer;
    white-space: nowrap;
}
.carousel img {
    height: 340px;
    object-fit: cover;
    margin-left: 14px;
    margin-right: 14px;
    width: calc(100% / 3);
}
.carousel img: first-child{
    margin-left: 0px;

}

@media screen and (max-width: 900px) {
    .carousel img {
        width: calc(100% / 2);
    }
}

@media screen and (max-width: 550px) {
    .carousel img {
        width: 100% ;
    }
}

*/

*{
    margin: 0;
}

body{
    font-family: Arial, sans-serif;
}

#slider{
    height: 500px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 1600px;
    margin: auto;
}

.subcontainer{
    width: 85%;
    margin: auto;
}

.slide-img{
    width: 100%;
    height: 275px;
    border-radius: 5px;
    background-position: center;
    background-size: cover;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.slide-img:hover{
    box-shadow: 0 0 0 200px rgb(0, 0, 0, 0.9) inset;
}

.slide-img a{
    opacity: 0;
    text-decoration: none;
    transform: scale(0);
    transition: 0.8s;
    font-size: 1.5rem;
    color: white
}

.slide-img:hover{
    opacity: 1;
    transform: scale(1);
}

.img-1{
    background-image: url();
}

.img-2{
    background-image: url();
}

.img-3{
    background-image: url();
}

.img-4{
    background-image: url();
}

.img-5{
    background-image: url();
}

@media(max-width: 1600px){
    .container{
        width: 100%;
    }
}